<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
		<th:block th:include="fragments/meta" />	
	    <th:block th:include="fragments/css" />
		<th:block th:include="fragments/shim" />
		<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/> -->
	    
	    <title th:text="#{searchResults.title}">Add Person</title>	
	</head>
   <body>
      <h1>Create a Person:</h1>
      
      <div class="container">
	     <!--  <h1>
				<span>Create a Person:</span>
		  </h1> -->
       
      <!--  
         In Thymeleaf the equivalent of
         JSP's ${pageContext.request.contextPath}/edit.html
         would be @{/edit.html}         
         -->
          
      <form th:action="@{/addPerson}" th:object="${personForm}" method="POST" class="form-horizontal">
       <div class="form-group">
         First Name:
         <input type="text" th:field="*{firstName}" />    
         <br/>
         Last Name:
         <input type="text" th:field="*{lastName}" />     
         <br/>
         Who Is:
         <input type="text" th:field="*{whoIs}" />     
         <br/>
         <input type="submit" value="Create" />
        </div>
      </form>
       
      <br/>
       
      <!-- Check if errorMessage is not null and not empty -->
       
      <div th:if="${errorMessage}" th:utext="#{error.message}"
         style="color:red;font-style:italic;">
         ...
      </div>
      
      </div>
       
   </body>
</html>