<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.springframework.org/security/tags" xmlns:ff4j="https://ff4j.github.io">
   
   <head>
        <meta charset="UTF-8" />
		<th:block th:include="fragments/meta" />	
	    <th:block th:include="fragments/css" />
		<th:block th:include="fragments/shim" />
		<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/> -->
	    
	    <title>Person List</title>	
	</head>
	
   <body>
      <h1>FF4J Demo</h1>      
      <br/><br/>
      <div class="container">
	      <h1>
				<span>Person List</span>				
		   </h1>
	       <hr />
	       <form method="POST" class="form-horizontal" name="actionForm" id="actionForm">
		       <div class="table-responsive">
		         <table id="searchResults" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="example_info">
		         	<thead>
			            <tr>
			               <th class="centered">First Name</th>
			               <th class="centered">Last Name</th>
			               <th class="centered">Who Is</th>
			               <th class="centered">Actions</th>
			            </tr>
		            </thead>
		            <tbody>
		            	<th:block th:each="person,iterStat : ${persons}">
				            <!-- <tr th:each ="person : ${persons}"> -->
				            <tr>
				               <td th:utext="${person.firstName}">...</td>
				               <td th:utext="${person.lastName}">...</td>
				               <td th:utext="${person.whoIs}">...</td>				               
				               <td>
				               	<div sec:authorize="hasRole('ADMIN')">	
				               		<a href="#"><span class="glyphicon glyphicon-edit"></span></a>				               				               			
				               		<a  th:href="@{'removePerson/'+${iterStat.index}}"><span class="glyphicon glyphicon-trash"></span></a>
				               	</div>
				               	
				               	<div ff4j:enable="sasi-f1">dfksdjfksdlfksdfks</div>
				               	
				               </td>
				            </tr>
			           </th:block>
		            </tbody>
		         </table>
		         
		         <h1>            
		            <a href="addPerson" class="btn btn-info">
	      				<span class="glyphicon glyphicon-plus-sign"></span> Add Person
	      			</a>    			
		         </h1>
		      </div>
		     </form>
	     </div>
	     <div th:replace="fragments/footer :: footer"/>
   </body>
</html>